In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('current_data/crime_and_incarceration_by_state.csv')

In [11]:
df = df.rename(columns={'year': 'date'})

In [13]:
df['date'] = pd.to_datetime(df['date'], format='%Y')  # Convert to datetime with just the year
df['date'] = df['date'].dt.strftime('01-01-%Y')

In [15]:
df['date']

0      01-01-2001
1      01-01-2001
2      01-01-2001
3      01-01-2001
4      01-01-2001
          ...
811    01-01-2016
812    01-01-2016
813    01-01-2016
814    01-01-2016
815    01-01-2016
Name: date, Length: 816, dtype: object

In [28]:
df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')

In [30]:
df['date']

0     2001-01-01
1     2001-01-01
2     2001-01-01
3     2001-01-01
4     2001-01-01
         ...
811   2016-01-01
812   2016-01-01
813   2016-01-01
814   2016-01-01
815   2016-01-01
Name: date, Length: 816, dtype: datetime64[ns]

In [32]:
df.to_csv('current_data/crime_and_incarceration_by_state.csv', index = False)

In [17]:
df['rape_revised'].fillna(0,inplace=True)

In [19]:
df['rape_revised'].isna().sum()

0

In [27]:
df['rape_legacy'].isna().sum()

67

In [29]:
df['rape_legacy'].fillna(0,inplace=True)

In [31]:
df['rape_legacy'].isna().sum()

0

In [33]:
df['rape'] = df['rape_legacy'] + df['rape_revised']

In [37]:
df['rape'].astype(int)

0         0
1      1369
2       501
3      1518
4       892
       ...
811    2830
812    3133
813     684
814    2005
815     206
Name: rape, Length: 816, dtype: int32

In [39]:
df = df.drop('rape_revised', axis=1)

In [41]:
df=df.drop('rape_legacy', axis=1)

In [43]:
df

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape
0,FEDERAL,False,2001,149852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0,1369.0
2,ALASKA,True,2001,4570,False,False,633630.0,3735.0,39.0,514.0,2681.0,23160.0,3847.0,16695.0,2618.0,501.0
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0,1518.0
4,ARKANSAS,False,2001,11489,False,False,2694698.0,12190.0,148.0,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0,892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,VIRGINIA,False,2016,29882,False,False,8414380.0,18495.0,482.0,4826.0,10357.0,157292.0,20159.0,127285.0,9848.0,2830.0
812,WASHINGTON,False,2016,17228,False,False,7280934.0,22101.0,195.0,5649.0,13124.0,254994.0,49249.0,173423.0,32322.0,3133.0
813,WEST VIRGINIA,False,2016,5899,False,False,1828637.0,6633.0,85.0,720.0,5144.0,37282.0,9127.0,25657.0,2498.0,684.0
814,WISCONSIN,False,2016,23163,False,False,5772917.0,17716.0,232.0,4707.0,10772.0,111911.0,19498.0,82455.0,9958.0,2005.0
815,WYOMING,False,2016,2352,False,False,584910.0,1431.0,20.0,59.0,1146.0,11460.0,1771.0,8889.0,800.0,206.0

In [45]:
df.dtypes

jurisdiction               object
includes_jails               bool
year                        int64
prisoner_count              int64
crime_reporting_change     object
crimes_estimated           object
state_population          float64
violent_crime_total       float64
murder_manslaughter       float64
robbery                   float64
agg_assault               float64
property_crime_total      float64
burglary                  float64
larceny                   float64
vehicle_theft             float64
rape                      float64
dtype: object

In [49]:
df['jurisdiction'].nunique()

51

In [58]:
df.rename(columns={'jurisdiction': 'states'}, inplace=True)

In [60]:
df

,states,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape
0,FEDERAL,False,2001,149852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0,1369.0
2,ALASKA,True,2001,4570,False,False,633630.0,3735.0,39.0,514.0,2681.0,23160.0,3847.0,16695.0,2618.0,501.0
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0,1518.0
4,ARKANSAS,False,2001,11489,False,False,2694698.0,12190.0,148.0,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0,892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,VIRGINIA,False,2016,29882,False,False,8414380.0,18495.0,482.0,4826.0,10357.0,157292.0,20159.0,127285.0,9848.0,2830.0
812,WASHINGTON,False,2016,17228,False,False,7280934.0,22101.0,195.0,5649.0,13124.0,254994.0,49249.0,173423.0,32322.0,3133.0
813,WEST VIRGINIA,False,2016,5899,False,False,1828637.0,6633.0,85.0,720.0,5144.0,37282.0,9127.0,25657.0,2498.0,684.0
814,WISCONSIN,False,2016,23163,False,False,5772917.0,17716.0,232.0,4707.0,10772.0,111911.0,19498.0,82455.0,9958.0,2005.0
815,WYOMING,False,2016,2352,False,False,584910.0,1431.0,20.0,59.0,1146.0,11460.0,1771.0,8889.0,800.0,206.0

In [62]:
df.columns

Index(['states', 'includes_jails', 'year', 'prisoner_count',
       'crime_reporting_change', 'crimes_estimated', 'state_population',
       'violent_crime_total', 'murder_manslaughter', 'robbery', 'agg_assault',
       'property_crime_total', 'burglary', 'larceny', 'vehicle_theft', 'rape'],
      dtype='object')

In [65]:
df.to_csv('current_data/crime_and_incarceration_by_state.csv', index = False)

In [69]:
df['crime_reporting_change'].unique()

array([nan, False, True], dtype=object)

In [71]:
df['crimes_estimated'].unique()

array([nan, False, True], dtype=object)

In [73]:
df['includes_jails'].unique()

array([False,  True])

In [76]:
df.columns

Index(['states', 'includes_jails', 'year', 'prisoner_count',
       'crime_reporting_change', 'crimes_estimated', 'state_population',
       'violent_crime_total', 'murder_manslaughter', 'robbery', 'agg_assault',
       'property_crime_total', 'burglary', 'larceny', 'vehicle_theft', 'rape'],
      dtype='object')

In [85]:
df =df.drop('includes_jails', axis =1)

In [87]:
df = df.drop('crime_reporting_change', axis=1)

In [89]:
df = df.drop('crimes_estimated', axis=1)

In [94]:
df.to_csv('current_data/crime_and_incarceration_by_state.csv', index = False)