In [2]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [3]:
cases = pd.read_csv('current_data/Cases.csv')
economics = pd.read_csv('current_data/socioeconomics.csv')
poverty = pd.read_csv('current_data/poverty.csv')
crimes = pd.read_csv('current_data/crime_and_incarceration_by_state.csv')

In [5]:
age_bins = [
    (1, '26-35'),
    (2, '36-45'),
    (3, '46-55'),
    (4, '56-65'),
    (5, '65+')
]
df_age = pd.DataFrame(age_bins, columns=['age_group_id', 'age_group'])

# Save to CSV
df_age.to_csv('d_age.csv', index=False)

In [6]:
data = {
    'charge_category_id': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'category': [
        'Violent Crimes',
        'Other',
        'Drug Offenses',
        'White Collar Crimes',
        'Traffic Offenses',
        'Property Crimes',
        'Weapons Offenses',
        'Public Order Offenses',
        'Sexual Offenses'
    ]
}

# Create DataFrame
d_charges_categories_df = pd.DataFrame(data)

# Save DataFrame to CSV
csv_filename = 'd_charges_categories.csv'
d_charges_categories_df.to_csv(csv_filename, index=False)

In [7]:
data = {
    'sentence_id': [1, 2, 3],
    'sentence_type': [
        'Likely a Rehabilitation',
        'Likely a Punishment',
        'Uncategorized'
    ]
}

# Create DataFrame
d_sentence_df = pd.DataFrame(data)

# Save DataFrame to CSV
csv_filename = 'd_sentence.csv'
d_sentence_df.to_csv(csv_filename, index=False)

In [8]:
data = {
    'gender_id': [1, 2, 3],
    'gender': [
        'Male',
        'Female',
        'Non-Binary'
    ]
}

# Create DataFrame
d_gender_df = pd.DataFrame(data)

# Save DataFrame to CSV
csv_filename = 'd_gender.csv'
d_gender_df.to_csv(csv_filename, index=False)

In [9]:
data = {
    'race_id': [1, 2, 3, 4, 5, 6],
    'race': [
        'Other',
        'Caucasian',
        'African-American',
        'Hispanic',
        'Asian',
        'Native American'
    ]
}

# Create DataFrame
d_race_df = pd.DataFrame(data)

# Save DataFrame to CSV
csv_filename = 'd_race.csv'
d_race_df.to_csv(csv_filename, index=False)

In [10]:


# Adding an additional state
state_names = [
    'United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
    'California', 'Colorado', 'Connecticut', 'Delaware',
    'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
    'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
    'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
    'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
    'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
    'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
    'West Virginia', 'Wisconsin', 'Wyoming'  # Extra entry
]

# Updated state_ids with an additional ID
state_ids = list(range(1, len(state_names) + 1))

# Data with updated lists
data = {
    'state_id': state_ids,
    'state_name': state_names
}

# Create DataFrame
d_state_df = pd.DataFrame(data)

# Save DataFrame to CSV
csv_filename = 'd_state.csv'
d_state_df.to_csv(csv_filename, index=False)

In [11]:
charge_description_data = {
    'current_charge_description': cases['current_charge_description'],
    'charge_category': cases['charge_category'] ,
    'charge_degree' : cases['current_charge_degree']
}

In [12]:
charge_description_data = pd.DataFrame({
    'current_charge_description': cases['current_charge_description'],
    'charge_category': cases['charge_category'],
    'charge_degree' : cases['current_charge_degree']
})

In [13]:
charge_description_data

           current_charge_description charge_category charge_degree
0        Aggravated Assault w/Firearm  Violent Crimes          (F3)
1                             unknown           Other       unknown
2      Felony Battery w/Prior Convict  Violent Crimes          (F3)
3               Possession of Cocaine   Drug Offenses          (F3)
4              Possession of Cannabis   Drug Offenses          (F3)
...                               ...             ...           ...
10996   Leaving the Scene of Accident           Other          (F3)
10997                         Battery  Violent Crimes          (M1)
10998   Aggravated Battery / Pregnant  Violent Crimes          (F2)
10999   Battery on Law Enforc Officer  Violent Crimes          (M1)
11000          Possession of Ethylone   Drug Offenses          (F3)

[11001 rows x 3 columns]

In [14]:
df_charge_categories = pd.read_csv('d_charges_categories.csv')

In [15]:
df_charge_categories.rename(columns={'category': 'charge_category'}, inplace=True)

In [16]:
merged_df = pd.merge(charge_description_data, df_charge_categories, on='charge_category', how='left')

In [17]:
charge_table_df = merged_df[['current_charge_description', 'charge_degree', 'charge_category_id']]

In [18]:
charge_table_df['id'] = range(1, len(charge_table_df) + 1)

In [19]:
charge_table_df.to_csv('d_charge.csv', index=False)

In [20]:
cases['risk_decile_score'].unique()

array([ 1,  5,  3,  4,  8,  6, 10,  9,  2, -1,  7], dtype=int64)

In [21]:
cases['risk_score_category'].unique()

array(['Low', 'Medium', 'High', nan], dtype=object)

In [22]:
cases = pd.DataFrame({
    'risk_decile_score': [1, 5, 3, 4, 8, 6, 10, 9, 2, -1, 7],
    'risk_score_category': ['Low', 'Medium', 'Low', 'Low', 'High', 'Medium', 'High', 'High', 'Low', 'No Data', 'Medium']
})


def map_risk_score(score):
    if score == -1:
        return 'No Data'
    elif 1 <= score <= 4:
        return 'Low'
    elif 5 <= score <= 7:
        return 'Medium'
    elif 8 <= score <= 10:
        return 'High'
    else:
        return 'No Data'


cases['risk_score_category'] = cases['risk_decile_score'].apply(map_risk_score)


d_risk_score_df = pd.DataFrame({
    'risk_decile_score': cases['risk_decile_score'],
    'risk_score_category': cases['risk_score_category']
})


d_risk_score_df['id'] = range(1, len(d_risk_score_df) + 1)


d_risk_score_df.to_csv('d_risk_score.csv', index=False)

In [23]:
d_gender_df = pd.read_csv('d_gender.csv')  
d_race_df = pd.read_csv('d_race.csv')    
d_age_df = pd.read_csv('d_age.csv')

In [25]:
# Create mappings for gender, race, and age group
gender_mapping = d_gender_df.set_index('gender')['gender_id'].to_dict()
race_mapping = d_race_df.set_index('race')['race_id'].to_dict()
age_mapping = d_age_df.set_index('age_group')['age_group_id'].to_dict()

In [26]:
# Load the cases DataFrame
cases_df = pd.read_csv('current_data/Cases.csv')

# Prepare the inmate data DataFrame
inmate_data = pd.DataFrame({
    'fullname': cases_df['name'],
    'age': cases_df['age'],
    'dob': cases_df['date_of_birth'],
    'gender': cases_df['sex'],
    'race': cases_df['race'],
    'age_group': cases_df['age_bins']
})

In [27]:


# Add foreign key columns
inmate_data['gender_id'] = inmate_data['gender'].map(gender_mapping)
inmate_data['race_id'] = inmate_data['race'].map(race_mapping)
inmate_data['age_group_id'] = inmate_data['age_group'].map(age_mapping)

In [28]:
# Create incremental IDs for inmates
d_inmate_df = pd.DataFrame({
    'inmate_id': range(1, len(inmate_data) + 1),
    'fullname': inmate_data['fullname'],
    'age': inmate_data['age'],
    
    'gender_id': inmate_data['gender_id'],
    'race_id': inmate_data['race_id'],
    'age_group_id': inmate_data['age_group_id']
})

In [29]:
print(inmate_data['age_group_id'].isna().sum())

1

In [30]:
d_inmate_df['age_group_id'].fillna(-1).astype(int)

0        5
1        2
2        2
3        1
4        1
        ..
10996    1
10997    2
10998    5
10999    2
11000    1
Name: age_group_id, Length: 11001, dtype: int32

In [31]:
d_inmate_df.to_csv('d_inmate.csv', index=False)

In [32]:
poverty['State'].nunique()

52

In [33]:
economics['State'].nunique()

51

In [34]:
crimes['states'] = crimes['states'].str.lower()

In [35]:
crimes = crimes[crimes['states'] != 'federal']

In [36]:
crimes.columns

Index(['states', 'date', 'prisoner_count', 'violent_crime_total',
       'murder_manslaughter', 'robbery', 'agg_assault', 'property_crime_total',
       'burglary', 'larceny', 'vehicle_theft', 'rape'],
      dtype='object')

In [52]:
poverty = poverty[poverty['State'] != 'United States']

In [120]:
poverty['population'].nunique()

561

In [104]:
poverty['State'] = poverty['State'].str.lower().str.strip()
crimes['states'] = crimes['states'].str.lower().str.strip()

In [106]:
poverty['state_date_key'] = poverty['State'] + '_' + poverty['date']
crimes['state_date_key'] = crimes['states'] + '_' + crimes['date']

In [108]:
state_date_population_mapping = poverty.set_index('state_date_key')['population'].to_dict()

In [110]:
crimes['population'] = crimes['state_date_key'].map(state_date_population_mapping)

In [112]:
crimes.drop(columns=['state_date_key'], inplace=True)

In [122]:
crimes

,states,date,prisoner_count,violent_crime_total,murder_manslaughter,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape,population
1,alabama,1/1/2001,24741,19582.0,379.0,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0,1369,NaN
2,alaska,1/1/2001,4570,3735.0,39.0,514.0,2681.0,23160.0,3847.0,16695.0,2618.0,501,NaN
3,arizona,1/1/2001,27710,28675.0,400.0,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0,1518,NaN
4,arkansas,1/1/2001,11489,12190.0,148.0,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0,892,NaN
5,california,1/1/2001,157142,212867.0,2206.0,64614.0,136087.0,1134189.0,232273.0,697739.0,204177.0,9960,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,virginia,1/1/2016,29882,18495.0,482.0,4826.0,10357.0,157292.0,20159.0,127285.0,9848.0,2830,8158203.0
812,washington,1/1/2016,17228,22101.0,195.0,5649.0,13124.0,254994.0,49249.0,173423.0,32322.0,3133,7156291.0
813,west virginia,1/1/2016,5899,6633.0,85.0,720.0,5144.0,37282.0,9127.0,25657.0,2498.0,684,1779953.0
814,wisconsin,1/1/2016,23163,17716.0,232.0,4707.0,10772.0,111911.0,19498.0,82455.0,9958.0,2005,5628526.0
815,wyoming,1/1/2016,2352,1431.0,20.0,59.0,1146.0,11460.0,1771.0,8889.0,800.0,206,571196.0

In [150]:
poverty['date']

1      1/1/2011
2      1/1/2011
3      1/1/2011
4      1/1/2011
5      1/1/2011
         ...
567    1/1/2021
568    1/1/2021
569    1/1/2021
570    1/1/2021
571    1/1/2021
Name: date, Length: 561, dtype: object

In [152]:
economics['date'] = pd.to_datetime(economics['date'], format='%Y-%m-%d')

In [154]:
economics['date'] = economics['date'].dt.strftime('%d-%m-%Y')

In [171]:
economics.head()

     State        date  Unemployment_Rate  participation_Rate  population
0  alabama  01-01-1976                6.7                57.0         NaN
1  alabama  01-01-1977                7.2                58.2         NaN
2  alabama  01-01-1978                6.4                59.0         NaN
3  alabama  01-01-1979                7.2                59.5         NaN
4  alabama  01-01-1980                8.8                59.4         NaN

In [214]:
poverty['State'] = poverty['State'].str.lower().str.strip()
economics['State'] = economics['State'].str.lower().str.strip()

In [216]:
poverty['date'] = poverty['date'].dt.strftime('%d-%m-%Y')

In [218]:
poverty['state_date_key'] = poverty['State'] + '_' + poverty['date']
economics['state_date_key'] = economics['State'] + '_' + economics['date']

In [220]:
state_to_date_population_mapping = poverty.set_index('state_date_key')['population'].to_dict()

In [222]:
economics['population'] = economics['state_date_key'].map(state_to_date_population_mapping)

In [240]:
economics.drop(columns=['state_date_key'], inplace=True)

In [242]:
economics.columns

Index(['State', 'date', 'Unemployment_Rate', 'participation_Rate',
       'population'],
      dtype='object')

In [246]:
poverty.drop(columns=['state_date_key'], inplace = True)

In [361]:
poverty['date']

1      01-01-2011
2      01-01-2011
3      01-01-2011
4      01-01-2011
5      01-01-2011
          ...
567    01-01-2021
568    01-01-2021
569    01-01-2021
570    01-01-2021
571    01-01-2021
Name: date, Length: 561, dtype: object

In [363]:
economics['date']

0       01-01-1976
1       01-01-1977
2       01-01-1978
3       01-01-1979
4       01-01-1980
           ...
2443    01-01-2019
2444    01-01-2020
2445    01-01-2021
2446    01-01-2022
2447    01-01-2023
Name: date, Length: 2448, dtype: object

In [365]:
crimes['date']

1      1/1/2001
2      1/1/2001
3      1/1/2001
4      1/1/2001
5      1/1/2001
         ...
811    1/1/2016
812    1/1/2016
813    1/1/2016
814    1/1/2016
815    1/1/2016
Name: date, Length: 800, dtype: object

In [367]:
d_state = pd.read_csv('d_state.csv')
d_state['state_name'] = d_state['state_name'].str.lower().str.strip()
economics['State'] = economics['State'].str.lower().str.strip()
poverty['State'] = poverty['State'].str.lower().str.strip()
crimes['states'] = crimes['states'].str.lower().str.strip()
crimes['date'] = pd.to_datetime(crimes['date'], format='%m/%d/%Y')
economics['date'] = pd.to_datetime(economics['date'], format='%d-%m-%Y')
poverty['date'] = pd.to_datetime(poverty['date'], format='%d-%m-%Y')

In [369]:
print(set(economics['State']) - set(crimes['states']))
print(set(crimes['states']) - set(economics['State']))

{'district of columbia'}
set()

In [408]:
# Merge on the economics table first to maintain the larger date range
merged_df = pd.merge(economics, poverty, left_on=['State', 'date'], right_on=['State', 'date'], how='outer')
merged_df = pd.merge(merged_df, crimes, left_on=['State', 'date'], right_on=['states', 'date'], how='outer')

# Select and rename columns for the fact table
fact_table_df = merged_df[['State', 'date', 'population_x', 'Unemployment_Rate', 'participation_Rate',
                           'Number in Poverty', 'Percent in Poverty', 'prisoner_count', 'violent_crime_total',
                           'murder_manslaughter', 'robbery', 'agg_assault', 'property_crime_total', 'burglary',
                           'larceny', 'vehicle_theft', 'rape']]

fact_table_df.columns = ['state', 'date', 'population', 'unemployment_rate', 'participation_rate',
                         'poverty_nb', 'poverty_percentage', 'prisoners_count', 'violent_crimes_total',
                         'murder_manslaughter', 'robbery', 'agg_assault', 'property_crime_total', 'burglary',
                         'larceny', 'vehicle_theft', 'rape']

# Create a copy of the DataFrame to avoid the SettingWithCopyWarning
fact_table_df = fact_table_df.copy()

# Map the state_id from the d_state table
state_mapping = d_state.set_index('state_name')['state_id'].to_dict()
fact_table_df['state_id'] = fact_table_df['state'].map(state_mapping)





# Display the final fact table
##fact_table_df.drop(columns=['state', 'date'], inplace = True)

fact_table_df['row_id'] = fact_table_df.index + 1

fact_table_df

,state,date,population,unemployment_rate,participation_rate,poverty_nb,poverty_percentage,prisoners_count,violent_crimes_total,murder_manslaughter,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape,state_id,date_id,row_id
0,alabama,1976-01-01,NaN,6.7,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,27759,1
1,alabama,1977-01-01,NaN,7.2,58.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,28125,2
2,alabama,1978-01-01,NaN,6.4,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,28490,3
3,alabama,1979-01-01,NaN,7.2,59.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,28855,4
4,alabama,1980-01-01,NaN,8.8,59.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,29220,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,wyoming,2019-01-01,563539.0,3.7,65.6,55776.0,9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,43465,2444
2444,wyoming,2020-01-01,568302.0,5.9,65.2,52418.0,9.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,43830,2445
2445,wyoming,2021-01-01,565737.0,4.6,63.7,60226.0,10.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,44196,2446
2446,wyoming,2022-01-01,NaN,3.6,63.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,44561,2447
2447,wyoming,2023-01-01,NaN,3.3,64.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,44926,2448

In [410]:
fact_table_df.isna().sum()

state                      0
date                       0
population              1887
unemployment_rate          0
participation_rate         0
poverty_nb              1887
poverty_percentage      1887
prisoners_count         1648
violent_crimes_total    1649
murder_manslaughter     1649
robbery                 1649
agg_assault             1649
property_crime_total    1649
burglary                1649
larceny                 1649
vehicle_theft           1649
rape                    1648
state_id                   0
date_id                    0
row_id                     0
dtype: int64

In [411]:
print(economics.shape)
print(poverty.shape)
print(crimes.shape)
print(merged_df.shape)

(2448, 5)
(561, 5)
(800, 13)
(2448, 20)

In [425]:
fact_table_df.to_csv('f_general_metrics.csv', index = False)

In [1025]:
inmates = pd.read_csv('d_inmate.csv')
sentence = pd.read_csv('d_sentence.csv')
state = pd.read_csv('d_state.csv')
risk = pd.read_csv('d_risk_score.csv')
charge = pd.read_csv('d_charge.csv')
cases = pd.read_csv('current_data/Cases.csv')
genders = pd.read_csv('d_gender.csv')
races = pd.read_csv('d_race.csv')
ages = pd.read_csv('d_age.csv')

In [1027]:
cases.drop(columns=['risk_decile_score'], inplace = True)

In [1029]:
inmates = inmates.merge(genders, how='left', left_on=['gender_id'], right_on=['gender_id'], suffixes=('', '_gender'))
inmates = inmates.merge(races, how='left', left_on=['race_id'], right_on=['race_id'], suffixes=('', '_race'))
inmates = inmates.merge(ages, how='left', left_on=['age_group_id'], right_on=['age_group_id'], suffixes=('', '_age'))

In [1030]:
inmates.columns

Index(['inmate_id', 'fullname', 'age', 'dob_id', 'gender_id', 'race_id',
       'age_group_id', 'date_id', 'year', 'month', 'day', 'gender', 'race',
       'age_group'],
      dtype='object')

In [1031]:
# Assuming the 'year', 'month', and 'day' columns exist in the `inmates` DataFrame
inmates['date_of_birth'] = pd.to_datetime(inmates[['year', 'month', 'day']])

In [1032]:
inmates.drop(columns=['year', 'month', 'day'], inplace = True)

In [1033]:
inmates.dtypes

inmate_id                 int64
fullname                 object
age                       int64
dob_id                    int64
gender_id                 int64
race_id                   int64
age_group_id            float64
date_id                   int64
gender                   object
race                     object
age_group                object
date_of_birth    datetime64[ns]
dtype: object

In [1034]:
cases['date_of_birth'] = pd.to_datetime(cases['date_of_birth'])

In [1040]:
merged_df = pd.merge(cases, inmates, left_on=['name', 'sex', 'date_of_birth'],
                     right_on=['fullname', 'gender', 'date_of_birth'])

In [1042]:
merged_df.columns

Index(['Unnamed: 0', ' Case_id', 'name', 'sex', 'date_of_birth', 'age_x',
       'race_x', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'current_charge_degree', 'current_charge_description', 'is_recidivist',
       'recidivism_charge_degree', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'recidivism_charge_description',
       'is_violent_recidivist', 'recidivism_risk_decile_score',
       'risk_score_category', 'screening_date', 'violence_risk_decile_score',
       'violence_risk_score_category', 'age_bins', 'charge_category',
       'sentence_type', 'inmate_id', 'fullname', 'age_y', 'dob_id',
       'gender_id', 'race_id', 'age_group_id', 'date_id', 'gender', 'race_y',
       'age_group', 'state_id'],
      dtype='object')

In [1043]:
merged_df.drop(columns=['age_x','race_x','fullname','age_y','dob_id','gender_id','race_id','age_group_id','date_id','gender','race_y','age_group'], inplace= True)

In [1044]:
merged_df

,Unnamed: 0,Case_id,name,sex,date_of_birth,juvenile_felony_count,juvenile_misdemeanor_count,juvenile_other_offense_count,prior_offense_count,days_between_screening_and_arrest,...,recidivism_risk_decile_score,risk_score_category,screening_date,violence_risk_decile_score,violence_risk_score_category,age_bins,charge_category,sentence_type,inmate_id,state_id
0,0,0,miguel hernandez,Male,1947-04-18,0,0,0,0,-1,...,1,Low,2013-08-14,1,Low,65+,Violent Crimes,Likely a Rehabilitation,1,11
1,1,1,michael ryan,Male,1985-02-06,0,0,0,0,-1,...,5,Medium,2014-12-31,2,Low,36-45,Other,Likely a Punishment,2,11
2,2,2,kevon dixon,Male,1982-01-22,0,0,0,0,-1,...,3,Low,2013-01-27,1,Low,36-45,Violent Crimes,Likely a Punishment,3,11
3,3,3,ed philo,Male,1991-05-14,0,0,1,4,-1,...,4,Low,2013-04-14,3,Low,26-35,Drug Offenses,Likely a Punishment,4,11
4,4,4,marcu brown,Male,1993-01-21,0,1,0,1,-1,...,8,High,2013-01-13,6,Medium,26-35,Drug Offenses,Likely a Punishment,5,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11000,10996,10996,malcolm simmons,Male,1993-03-25,0,0,0,0,-1,...,3,Low,2014-04-11,5,Medium,26-35,Other,Likely a Rehabilitation,10997,11
11001,10997,10997,alexsandra beauchamps,Female,1984-12-21,0,0,0,5,-1,...,6,Medium,2013-08-21,4,Low,36-45,Violent Crimes,Likely a Punishment,10998,11
11002,10998,10998,winston gregory,Male,1958-10-01,0,0,0,0,-1,...,1,Low,2013-05-11,1,Low,65+,Violent Crimes,Likely a Rehabilitation,10999,11
11003,10999,10999,farrah jean,Female,1982-11-17,0,0,0,3,-1,...,2,Low,2014-03-26,2,Low,36-45,Violent Crimes,Likely a Rehabilitation,11000,11
11004,11000,11000,florencia sanmartin,Female,1992-12-18,0,0,0,2,-27,...,4,Low,2013-12-20,4,Low,26-35,Drug Offenses,Likely a Punishment,11001,11

In [1046]:
merged_df

,Unnamed: 0,Case_id,name,sex,date_of_birth,juvenile_felony_count,juvenile_misdemeanor_count,juvenile_other_offense_count,prior_offense_count,days_between_screening_and_arrest,...,risk_score_category,screening_date,violence_risk_decile_score,violence_risk_score_category,age_bins,charge_category,sentence_type,inmate_id,state_id,sentence_id
0,0,0,miguel hernandez,Male,1947-04-18,0,0,0,0,-1,...,Low,2013-08-14,1,Low,65+,Violent Crimes,Likely a Rehabilitation,1,11,1
1,1,1,michael ryan,Male,1985-02-06,0,0,0,0,-1,...,Medium,2014-12-31,2,Low,36-45,Other,Likely a Punishment,2,11,2
2,2,2,kevon dixon,Male,1982-01-22,0,0,0,0,-1,...,Low,2013-01-27,1,Low,36-45,Violent Crimes,Likely a Punishment,3,11,2
3,3,3,ed philo,Male,1991-05-14,0,0,1,4,-1,...,Low,2013-04-14,3,Low,26-35,Drug Offenses,Likely a Punishment,4,11,2
4,4,4,marcu brown,Male,1993-01-21,0,1,0,1,-1,...,High,2013-01-13,6,Medium,26-35,Drug Offenses,Likely a Punishment,5,11,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11000,10996,10996,malcolm simmons,Male,1993-03-25,0,0,0,0,-1,...,Low,2014-04-11,5,Medium,26-35,Other,Likely a Rehabilitation,10997,11,1
11001,10997,10997,alexsandra beauchamps,Female,1984-12-21,0,0,0,5,-1,...,Medium,2013-08-21,4,Low,36-45,Violent Crimes,Likely a Punishment,10998,11,2
11002,10998,10998,winston gregory,Male,1958-10-01,0,0,0,0,-1,...,Low,2013-05-11,1,Low,65+,Violent Crimes,Likely a Rehabilitation,10999,11,1
11003,10999,10999,farrah jean,Female,1982-11-17,0,0,0,3,-1,...,Low,2014-03-26,2,Low,36-45,Violent Crimes,Likely a Rehabilitation,11000,11,1
11004,11000,11000,florencia sanmartin,Female,1992-12-18,0,0,0,2,-27,...,Low,2013-12-20,4,Low,26-35,Drug Offenses,Likely a Punishment,11001,11,2

In [1210]:
charge = charge.drop_duplicates(subset=['current_charge_description'])
charge.to_csv('d_charge.csv', index = False)

In [1048]:
merged_df = pd.merge(
    cases,
    charge[['current_charge_description', 'id']],
    how='left',
    left_on='current_charge_description',
    right_on='current_charge_description'
)

In [1049]:
merged_df

,Unnamed: 0,Case_id,name,sex,date_of_birth,age,race,juvenile_felony_count,juvenile_misdemeanor_count,juvenile_other_offense_count,...,is_violent_recidivist,recidivism_risk_decile_score,risk_score_category,screening_date,violence_risk_decile_score,violence_risk_score_category,age_bins,charge_category,sentence_type,id
0,0,0,miguel hernandez,Male,1947-04-18,77,Other,0,0,0,...,0,1,Low,2013-08-14,1,Low,65+,Violent Crimes,Likely a Rehabilitation,1
1,1,1,michael ryan,Male,1985-02-06,39,Caucasian,0,0,0,...,0,5,Medium,2014-12-31,2,Low,36-45,Other,Likely a Punishment,2
2,2,2,kevon dixon,Male,1982-01-22,42,African-American,0,0,0,...,1,3,Low,2013-01-27,1,Low,36-45,Violent Crimes,Likely a Punishment,3
3,3,3,ed philo,Male,1991-05-14,33,African-American,0,0,1,...,0,4,Low,2013-04-14,3,Low,26-35,Drug Offenses,Likely a Punishment,4
4,4,4,marcu brown,Male,1993-01-21,31,African-American,0,1,0,...,0,8,High,2013-01-13,6,Medium,26-35,Drug Offenses,Likely a Punishment,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10996,10996,10996,malcolm simmons,Male,1993-03-25,31,African-American,0,0,0,...,0,3,Low,2014-04-11,5,Medium,26-35,Other,Likely a Rehabilitation,630
10997,10997,10997,alexsandra beauchamps,Female,1984-12-21,39,African-American,0,0,0,...,0,6,Medium,2013-08-21,4,Low,36-45,Violent Crimes,Likely a Punishment,7
10998,10998,10998,winston gregory,Male,1958-10-01,65,Other,0,0,0,...,0,1,Low,2013-05-11,1,Low,65+,Violent Crimes,Likely a Rehabilitation,98
10999,10999,10999,farrah jean,Female,1982-11-17,41,African-American,0,0,0,...,0,2,Low,2014-03-26,2,Low,36-45,Violent Crimes,Likely a Rehabilitation,26
11000,11000,11000,florencia sanmartin,Female,1992-12-18,31,Hispanic,0,0,0,...,0,4,Low,2013-12-20,4,Low,26-35,Drug Offenses,Likely a Punishment,585

In [1050]:
merged_df = pd.merge(
    merged_df,
    charge[['current_charge_description', 'id']],
    how='left',
    left_on='recidivism_charge_description',
    right_on='current_charge_description',
    suffixes=('', '_recidivism')
)

In [1052]:
merged_df.drop(columns=['current_charge_description','current_charge_degree','recidivism_charge_degree','recidivism_charge_description','age_bins','current_charge_description_recidivism'], inplace = True)

In [1053]:
merged_df.columns

Index(['Unnamed: 0', ' Case_id', 'name', 'sex', 'date_of_birth', 'age', 'race',
       'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'sentence_type', 'id', 'id_recidivism'],
      dtype='object')

In [1054]:
merged_df.rename(columns={
    
    'id': 'charge_id',
    'id_recidivism': 'rec_charge_id'
}, inplace=True)

In [1056]:
merged_df.columns

Index(['Unnamed: 0', ' Case_id', 'name', 'sex', 'date_of_birth', 'age', 'race',
       'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'sentence_type', 'charge_id', 'rec_charge_id'],
      dtype='object')

In [1066]:
merged_df.rename(columns={
    'name': 'fullname',
    'sex': 'gender'
}, inplace=True)

In [1070]:
merged_df = pd.merge(
    merged_df,
    inmates[['inmate_id', 'fullname', 'age', 'gender', 'race']],
    how='left',
    left_on=['fullname', 'age', 'gender', 'race'],
    right_on=['fullname', 'age', 'gender', 'race']
)

In [1072]:
merged_df

,Unnamed: 0,Case_id,fullname,gender,date_of_birth,age,race,juvenile_felony_count,juvenile_misdemeanor_count,juvenile_other_offense_count,...,recidivism_risk_decile_score,risk_score_category,screening_date,violence_risk_decile_score,violence_risk_score_category,charge_category,sentence_type,charge_id,rec_charge_id,inmate_id
0,0,0,miguel hernandez,Male,1947-04-18,77,Other,0,0,0,...,1,Low,2013-08-14,1,Low,Violent Crimes,Likely a Rehabilitation,1,2.0,1
1,1,1,michael ryan,Male,1985-02-06,39,Caucasian,0,0,0,...,5,Medium,2014-12-31,2,Low,Other,Likely a Punishment,2,2.0,2
2,2,2,kevon dixon,Male,1982-01-22,42,African-American,0,0,0,...,3,Low,2013-01-27,1,Low,Violent Crimes,Likely a Punishment,3,119.0,3
3,3,3,ed philo,Male,1991-05-14,33,African-American,0,0,1,...,4,Low,2013-04-14,3,Low,Drug Offenses,Likely a Punishment,4,118.0,4
4,4,4,marcu brown,Male,1993-01-21,31,African-American,0,1,0,...,8,High,2013-01-13,6,Medium,Drug Offenses,Likely a Punishment,5,2.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11008,10996,10996,malcolm simmons,Male,1993-03-25,31,African-American,0,0,0,...,3,Low,2014-04-11,5,Medium,Other,Likely a Rehabilitation,630,2.0,10997
11009,10997,10997,alexsandra beauchamps,Female,1984-12-21,39,African-American,0,0,0,...,6,Medium,2013-08-21,4,Low,Violent Crimes,Likely a Punishment,7,2.0,10998
11010,10998,10998,winston gregory,Male,1958-10-01,65,Other,0,0,0,...,1,Low,2013-05-11,1,Low,Violent Crimes,Likely a Rehabilitation,98,2.0,10999
11011,10999,10999,farrah jean,Female,1982-11-17,41,African-American,0,0,0,...,2,Low,2014-03-26,2,Low,Violent Crimes,Likely a Rehabilitation,26,2.0,11000
11012,11000,11000,florencia sanmartin,Female,1992-12-18,31,Hispanic,0,0,0,...,4,Low,2013-12-20,4,Low,Drug Offenses,Likely a Punishment,585,51.0,11001

In [1076]:
merged_df.drop(columns=['Unnamed: 0','fullname','gender','date_of_birth','age','race'], inplace = True)

In [1078]:
merged_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'sentence_type', 'charge_id', 'rec_charge_id',
       'inmate_id'],
      dtype='object')

In [1091]:
merged_df['sentence_type'] = merged_df['sentence_type'].str.strip()
sentence['sentence_type'] = sentence['sentence_type'].str.strip()
merged_df = pd.merge(
    merged_df,
    sentence[['sentence_id', 'sentence_type']],
    how='left',
    on='sentence_type'
)

In [1093]:
merged_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'sentence_type', 'charge_id', 'rec_charge_id',
       'inmate_id', 'sentence_id_x', 'sentence_id_y'],
      dtype='object')

In [1097]:
merged_df.drop(columns=['sentence_type','sentence_id_x'], inplace = True)

In [1101]:
merged_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_id_y'],
      dtype='object')

In [1133]:
florida_state_id = state[state['state_name'] == 'Florida']['state_id'].values[0]
merged_df['state_id'] = florida_state_id

In [1135]:
merged_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_id_y', 'state_id', 'year', 'month', 'day'],
      dtype='object')

In [1137]:
merged_df

,Case_id,juvenile_felony_count,juvenile_misdemeanor_count,juvenile_other_offense_count,prior_offense_count,days_between_screening_and_arrest,current_jail_entry_date,current_jail_release_date,days_from_compas_to_current_offense,is_recidivist,...,violence_risk_score_category,charge_category,charge_id,rec_charge_id,inmate_id,sentence_id_y,state_id,year,month,day
0,0,0,0,0,0,-1,2013-08-13,2013-08-14,1.0,0,...,Low,Violent Crimes,1,2.0,1,1,11,NaN,NaN,NaN
1,1,0,0,0,0,-1,NaN,NaN,NaN,-1,...,Low,Other,2,2.0,2,2,11,NaN,NaN,NaN
2,2,0,0,0,0,-1,2013-01-26,2013-05-02,1.0,1,...,Low,Violent Crimes,3,119.0,3,2,11,2013,05,07
3,3,0,0,1,4,-1,2013-04-13,2013-04-14,1.0,1,...,Low,Drug Offenses,4,118.0,4,2,11,2013,06,16
4,4,0,1,0,1,-1,NaN,NaN,1.0,0,...,Medium,Drug Offenses,5,2.0,5,2,11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11008,10996,0,0,0,0,-1,NaN,NaN,1.0,0,...,Medium,Other,630,2.0,10997,1,11,NaN,NaN,NaN
11009,10997,0,0,0,5,-1,2013-08-20,2013-08-21,1.0,0,...,Low,Violent Crimes,7,2.0,10998,2,11,NaN,NaN,NaN
11010,10998,0,0,0,0,-1,2013-04-11,2013-05-11,1.0,0,...,Low,Violent Crimes,98,2.0,10999,1,11,NaN,NaN,NaN
11011,10999,0,0,0,3,-1,2014-03-25,2014-03-26,1.0,0,...,Low,Violent Crimes,26,2.0,11000,1,11,2015,06,03
11012,11000,0,0,0,2,-27,2013-11-23,2013-12-19,2.0,1,...,Low,Drug Offenses,585,51.0,11001,2,11,NaN,NaN,NaN

In [1144]:
current_df

,Case_id,juvenile_felony_count,juvenile_misdemeanor_count,juvenile_other_offense_count,prior_offense_count,days_between_screening_and_arrest,current_jail_entry_date,current_jail_release_date,days_from_compas_to_current_offense,is_recidivist,...,inmate_id,sentence_id_y,state_id,recidivism_offense_date_id,current_jail_entry_date_id,current_jail_release_date_id,screening_date_id,recidivism_offense_date_id,current_jail_entry_date_id,current_jail_release_date_id
0,0,0,0,0,0,-1,2013-08-13,2013-08-14,1.0,0,...,1,1,11,NaN,41498.0,41499.0,41499,NaN,41498.0,41499.0
1,1,0,0,0,0,-1,nan,nan,NaN,-1,...,2,2,11,NaN,NaN,NaN,42003,NaN,NaN,NaN
2,2,0,0,0,0,-1,2013-01-26,2013-05-02,1.0,1,...,3,2,11,41400.0,41299.0,41395.0,41300,41400.0,41299.0,41395.0
3,3,0,0,1,4,-1,2013-04-13,2013-04-14,1.0,1,...,4,2,11,41440.0,41376.0,41377.0,41377,41440.0,41376.0,41377.0
4,4,0,1,0,1,-1,nan,nan,1.0,0,...,5,2,11,NaN,NaN,NaN,41286,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11008,10996,0,0,0,0,-1,nan,nan,1.0,0,...,10997,1,11,NaN,NaN,NaN,41739,NaN,NaN,NaN
11009,10997,0,0,0,5,-1,2013-08-20,2013-08-21,1.0,0,...,10998,2,11,NaN,41505.0,41506.0,41506,NaN,41505.0,41506.0
11010,10998,0,0,0,0,-1,2013-04-11,2013-05-11,1.0,0,...,10999,1,11,NaN,41374.0,41404.0,41404,NaN,41374.0,41404.0
11011,10999,0,0,0,3,-1,2014-03-25,2014-03-26,1.0,0,...,11000,1,11,42157.0,41722.0,41723.0,41723,42157.0,41722.0,41723.0
11012,11000,0,0,0,2,-27,2013-11-23,2013-12-19,2.0,1,...,11001,2,11,NaN,41600.0,41626.0,41627,NaN,41600.0,41626.0

In [1146]:
current_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_id_y', 'state_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'screening_date_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id'],
      dtype='object')

In [1148]:
current_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_id_y', 'state_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'screening_date_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id'],
      dtype='object')

In [1150]:
risk.columns

Index(['risk_decile_score', 'risk_score_category', 'id'], dtype='object')

In [1154]:
current_df = pd.merge(
    current_df,
    risk[['risk_decile_score', 'id']].rename(columns={'id': 'recidivism_risk_score_id', 'risk_decile_score': 'recidivism_risk_score'}),
    how='left',
    left_on='recidivism_risk_decile_score',  # Assuming this column exists in current_df
    right_on='recidivism_risk_score'
)

In [1156]:
current_df = pd.merge(
    current_df,
    risk[['risk_decile_score', 'id']].rename(columns={'id': 'violence_risk_score_id', 'risk_decile_score': 'violence_risk_score'}),
    how='left',
    left_on='violence_risk_decile_score',  # Assuming this column exists in current_df
    right_on='violence_risk_score'
)

In [1158]:
current_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_id_y', 'state_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'screening_date_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'recidivism_risk_score', 'recidivism_risk_score_id',
       'violence_risk_score', 'violence_risk_score_id'],
      dtype='object')

In [1164]:
current_df.drop(columns=['recidivism_risk_score','violence_risk_score'], inplace = True)

In [1166]:
current_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest', 'current_jail_entry_date',
       'current_jail_release_date', 'days_from_compas_to_current_offense',
       'is_recidivist', 'days_from_arrest_to_recidivism',
       'recidivism_offense_date', 'is_violent_recidivist',
       'recidivism_risk_decile_score', 'risk_score_category', 'screening_date',
       'violence_risk_decile_score', 'violence_risk_score_category',
       'charge_category', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_id_y', 'state_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'screening_date_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'recidivism_risk_score_id', 'violence_risk_score_id'],
      dtype='object')

In [1168]:
columns_to_remove = [
    'charge_category',
    'violence_risk_score_category',
    'violence_risk_decile_score',
    'screening_date',
    'risk_score_category',
    'recidivism_risk_decile_score',
    'recidivism_offense_date',
    'current_jail_release_date',
    'current_jail_entry_date'
]
existing_columns = [col for col in columns_to_remove if col in current_df.columns]
current_df.drop(columns=existing_columns, inplace=True)

In [1170]:
current_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest',
       'days_from_compas_to_current_offense', 'is_recidivist',
       'days_from_arrest_to_recidivism', 'is_violent_recidivist', 'charge_id',
       'rec_charge_id', 'inmate_id', 'sentence_id_y', 'state_id',
       'recidivism_offense_date_id', 'current_jail_entry_date_id',
       'current_jail_release_date_id', 'screening_date_id',
       'recidivism_offense_date_id', 'current_jail_entry_date_id',
       'current_jail_release_date_id', 'recidivism_risk_score_id',
       'violence_risk_score_id'],
      dtype='object')

In [1172]:
current_df.rename(columns={
    'sentence_id_y': 'sentence_type_id',
    'days_from_arrest_to_recidivism': 'arrest_to_rec'
}, inplace=True)

# Remove duplicate columns
current_df = current_df.loc[:, ~current_df.columns.duplicated()]

In [1178]:
current_df.columns

Index([' Case_id', 'juvenile_felony_count', 'juvenile_misdemeanor_count',
       'juvenile_other_offense_count', 'prior_offense_count',
       'days_between_screening_and_arrest',
       'days_from_compas_to_current_offense', 'is_recidivist', 'arrest_to_rec',
       'is_violent_recidivist', 'charge_id', 'rec_charge_id', 'inmate_id',
       'sentence_type_id', 'state_id', 'recidivism_offense_date_id',
       'current_jail_entry_date_id', 'current_jail_release_date_id',
       'screening_date_id', 'recidivism_risk_score_id',
       'violence_risk_score_id'],
      dtype='object')

In [1180]:
current_df.dtypes

 Case_id                                 int64
juvenile_felony_count                    int64
juvenile_misdemeanor_count               int64
juvenile_other_offense_count             int64
prior_offense_count                      int64
days_between_screening_and_arrest        int64
days_from_compas_to_current_offense    float64
is_recidivist                            int64
arrest_to_rec                            int64
is_violent_recidivist                    int64
charge_id                                int64
rec_charge_id                          float64
inmate_id                                int64
sentence_type_id                         int64
state_id                                 int64
recidivism_offense_date_id             float64
current_jail_entry_date_id             float64
current_jail_release_date_id           float64
screening_date_id                        int64
recidivism_risk_score_id                 int64
violence_risk_score_id                   int64
dtype: object

In [1184]:
current_df.fillna({
    'days_from_compas_to_current_offense': -1,
    'rec_charge_id': -1,
    'recidivism_offense_date_id': -1,
    'current_jail_entry_date_id': -1,
    'current_jail_release_date_id': -1
}, inplace=True)
current_df['days_from_compas_to_current_offense'] = current_df['days_from_compas_to_current_offense'].astype(int)
current_df['rec_charge_id'] = current_df['rec_charge_id'].astype(int)
current_df['recidivism_offense_date_id'] = current_df['recidivism_offense_date_id'].astype(int)
current_df['current_jail_entry_date_id'] = current_df['current_jail_entry_date_id'].astype(int)
current_df['current_jail_release_date_id'] = current_df['current_jail_release_date_id'].astype(int)

print(current_df.dtypes)

 Case_id                               int64
juvenile_felony_count                  int64
juvenile_misdemeanor_count             int64
juvenile_other_offense_count           int64
prior_offense_count                    int64
days_between_screening_and_arrest      int64
days_from_compas_to_current_offense    int32
is_recidivist                          int64
arrest_to_rec                          int64
is_violent_recidivist                  int64
charge_id                              int64
rec_charge_id                          int32
inmate_id                              int64
sentence_type_id                       int64
state_id                               int64
recidivism_offense_date_id             int32
current_jail_entry_date_id             int32
current_jail_release_date_id           int32
screening_date_id                      int64
recidivism_risk_score_id               int64
violence_risk_score_id                 int64
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_10780\2823496249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df.fillna({
C:\Users\user\AppData\Local\Temp\ipykernel_10780\2823496249.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df['days_from_compas_to_current_offense'] = current_df['days_from_compas_to_current_offense'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_10780\2823496249.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df['rec_charge_id'] = current_df['rec_charge_id'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_10780\2823496249.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df['recidivism_offense_date_id'] = current_df['recidivism_offense_date_id'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_10780\2823496249.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df['current_jail_entry_date_id'] = current_df['current_jail_entry_date_id'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_10780\2823496249.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df['current_jail_release_date_id'] = current_df['current_jail_release_date_id'].astype(int)

In [1189]:
current_df.to_csv('f_cases.csv', index = False)

In [6]:
from sqlalchemy import create_engine
import pandas as pd

In [7]:
user = 'root'
password = ''
host = 'localhost'
port = '3306'
database = 'crimes'

In [9]:
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')

In [8]:
ages = pd.read_csv('dwh_csv/d_age.csv')
charges = pd.read_csv('dwh_csv/d_charge.csv')
charge_categories = pd.read_csv('dwh_csv/d_charges_categories.csv')
genders = pd.read_csv('dwh_csv/d_gender.csv')
inmates = pd.read_csv('dwh_csv/d_inmate.csv')
races = pd.read_csv('dwh_csv/d_race.csv')
risk = pd.read_csv('dwh_csv/d_risk_score.csv')
sentences = pd.read_csv('dwh_csv/d_sentence.csv')
states = pd.read_csv('dwh_csv/d_state.csv')
cases = pd.read_csv('dwh_csv/f_cases.csv')
general = pd.read_csv('dwh_csv/f_general_metrics.csv')
old_cases = pd.read_csv('current_data/Cases.csv')

In [80]:
cases.to_sql('f_cases', con=engine, if_exists='append', index=False)

11013

In [50]:
ages.to_sql('d_age',con=engine, if_exists='append', index=False)

5

In [57]:
charges.to_sql('d_charge', con=engine, if_exists='append', index = False)

514

In [52]:
charge_categories.to_sql('d_charges_categories',con=engine, if_exists='append', index=False)

9

In [59]:
genders.to_sql('d_gender',con=engine, if_exists='append', index=False)

3

In [78]:
inmates.to_sql('d_inmate', con=engine, if_exists='append', index=False)

11001

In [61]:
races.to_sql('d_race', con=engine, if_exists='append', index=False)

6

In [73]:
risk.to_sql('d_risk_score', con=engine, if_exists='append', index=False)

11

In [68]:
sentences.to_sql('d_sentence', con=engine, if_exists='append', index=False)

3

In [66]:
states.to_sql('d_state', con=engine, if_exists='append', index=False)

52

In [85]:
general.to_sql('f_general_metrics', con=engine, if_exists='append', index=False)

2448

In [10]:
old_cases['current_charge_description'].nunique()

514