In [3]:
import pandas as pd
from datetime import datetime

In [5]:
df = pd.read_csv('current_data/poverty.csv')

In [7]:
df.isna().sum()

Year                  0
State                 0
Poverty Universe      0
Number in Poverty     0
Percent in Poverty    0
dtype: int64

In [9]:
df.columns

Index(['Year', 'State', 'Poverty Universe', 'Number in Poverty',
       'Percent in Poverty'],
      dtype='object')

In [11]:
df.dtypes

Year                    int64
State                  object
Poverty Universe        int64
Number in Poverty       int64
Percent in Poverty    float64
dtype: object

In [27]:
df = df.rename(columns={'Year':'date'})

In [29]:
df['date'] = pd.to_datetime(df['date'], format='%Y')
df['date'] = df['date'].dt.strftime('01-01-%Y')

In [31]:
df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')

In [33]:
df.to_csv('current_data/poverty.csv', index = False)

In [35]:
df['date']

0     2011-01-01
1     2011-01-01
2     2011-01-01
3     2011-01-01
4     2011-01-01
         ...
567   2021-01-01
568   2021-01-01
569   2021-01-01
570   2021-01-01
571   2021-01-01
Name: date, Length: 572, dtype: datetime64[ns]

In [24]:
df = df.drop('ID', axis=1)

In [26]:
df.to_csv('current_data/poverty.csv', index = False)

In [35]:
df = df.rename(columns={'Name': 'State'})

In [37]:
df

,Year,State,Poverty Universe,Number in Poverty,Percent in Poverty
0,2011,United States,303778193,48452035,15.9
1,2011,Alabama,4687327,896117,19.1
2,2011,Alaska,706859,76021,10.8
3,2011,Arizona,6336450,1201376,19.0
4,2011,Arkansas,2856679,550079,19.3
...,...,...,...,...,...
567,2021,Virginia,8401206,862792,10.3
568,2021,Washington,7599990,755589,9.9
569,2021,West Virginia,1734924,291051,16.8
570,2021,Wisconsin,5754791,622948,10.8
571,2021,Wyoming,565737,60226,10.6

In [41]:
df.to_csv('current_data/poverty.csv', index = False)